<div class="container">

<select class="form-select" aria-label="Default select example">
  <option *ngFor="let plant of plants" [value]="plant.id">{{ plant.name }}</option>
</select>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Watering date</th>
      <th scope="col">Water amount</th>
      <th scope="col">Notes</th>
      <th scope="col">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let watering of waterings">
      <th scope="row">{{ watering.id }}</th>
      <td>{{ watering.date }}</td>
      <td>{{ watering.amount }}</td>
      <td>{{ watering.notes }}</td>
      <td>
        <button (click)="deleteWatering(watering.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

</div>