<div class="container">

    <h2>Waterings</h2>

<select class="form-select" aria-label="Default select example">
  <option *ngFor="let plant of plants" [value]="plant.id">{{ plant.name }}</option>
</select>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Watering date</th>
      <th scope="col">Water amount</th>
      <th scope="col">Notes</th>
      <th scope="col">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let watering of waterings; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ watering.date_watered }}</td>
      <td>{{ watering.amount_ml }}</td>
      <td>{{ watering.notes }}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteWatering(watering.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

</div>